*{
    margin: 0;
    padding: 0;
}
   
.certificate {
    position: relative;
    height: 10000px;
}

.name {
    position: absolute;
    top: 250px;
    left: 350px;
}

.course {
    position: absolute;
    top: 370px;
    left: 300px;
}

.day {
    position: absolute;
    top: 435px;
    left: 450px;
}

.month {
    position: absolute;
    top: 435px;
    left: 585px;
}

.year {
    position: absolute;
    top: 435px;
    left: 685px;
}

.thank {
    position: absolute;
    top: 520px;
    left: 550px;
}

.chat {
    height: 100px;
    width: 100px;
    background-color:rgb(184, 191, 194);
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
